/* styles/globals.css */
/* MAIN FONT */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; 
*/

/* GLOBAL STYLES */
body {
  font-family: 'Cairo', 'Roboto', 'Tahoma', sans-serif;
  direction: rtl;
}

button:hover {
  cursor: pointer;
}