/* styles/globals.css */
/* MAIN FONT */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; 
*/

:root {
  --main-color: white;
  --second-color: #37AFE1;
  --body-bg: var(--main-color);
  --footer-bg: var(--second-color);
  --text-color: var(--second-color)
}

/* GLOBAL STYLES */
body {
  font-family: 'Cairo', 'Roboto', 'Tahoma', sans-serif;
  direction: rtl;
}

button:hover {
  cursor: pointer;
}


@layer components {
  .btn {
    @apply bg-blue-900 text-white px-4 py-2 rounded hover:bg-blue-800 transition;
  }

  .card {
    @apply bg-white p-6 rounded-lg shadow-md;
  }

  .card-clickable {
    @apply hover:scale-105 hover:cursor-pointer transition;
  }
}